:root {
  --ion-background-color: --ion-color-tribe-tan;
  --ion-background-color-rgb: 255,247,221;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;
  --ion-color-step-50: #f2ebd2;
  --ion-color-step-100: #e6dec7;
  --ion-color-step-150: #d9d2bc;
  --ion-color-step-200: #ccc6b1;
  --ion-color-step-250: #bfb9a6;
  --ion-color-step-300: #b3ad9b;
  --ion-color-step-350: #a6a190;
  --ion-color-step-400: #999485;
  --ion-color-step-450: #8c887a;
  --ion-color-step-500: #807c6f;
  --ion-color-step-550: #736f63;
  --ion-color-step-600: #666358;
  --ion-color-step-650: #59564d;
  --ion-color-step-700: #4d4a42;
  --ion-color-step-750: #403e37;
  --ion-color-step-800: #33312c;
  --ion-color-step-850: #262521;
  --ion-color-step-900: #191916;
  --ion-color-step-950: #0d0c0b;
  --ion-color-primary: #FF8127;
  --ion-color-primary-rgb: 255,129,39;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e07222;
  --ion-color-primary-tint: #ff8e3d;
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

:root {
  --ion-color-tribe-tan: #FFF7DD;
  --ion-color-tribe-tan-rgb: 255,247,221;
  --ion-color-tribe-tan-contrast: #000000;
  --ion-color-tribe-tan-contrast-rgb: 0,0,0;
  --ion-color-tribe-tan-shade: #e0d9c2;
  --ion-color-tribe-tan-tint: #fff8e0;
}

.ion-color-tribe-tan {
  --ion-color-base: var(--ion-color-tribe-tan);
  --ion-color-base-rgb: var(--ion-color-tribe-tan-rgb);
  --ion-color-contrast: var(--ion-color-tribe-tan-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tribe-tan-contrast-rgb);
  --ion-color-shade: var(--ion-color-tribe-tan-shade);
  --ion-color-tint: var(--ion-color-tribe-tan-tint);
}

#login-page {
  background-color: #FFF7DD;
}

#login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login-content img {
  width: 50vw;
  height: auto;
  margin: 45px;
}

.login-input {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  width: 80vw;
  font-size: 24px;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.116);
}

.register-input {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  width: 80vw;
  font-size: 24px;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.116);
}

#login-btn, #register-btn1 {
  margin: 20px;
  width: 50vw;
  color: white;
}

.login-span {
  margin: 5px;
  font-size: 4vw;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tribe-alert .alert-wrapper, ion-backdrop div, .picker-wrapper div {
  background-color: white !important;
}

#hamburger-title {
  text-align: center;
}

#hamburger-logo {
  width: 20vw;
  height: auto;
  padding-top: 10px;
}

#hamburger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#hamburger-list :nth-child(1) {
  margin-top: 5px;
}

#logout-btn {
  margin-top: auto;
}

#settings-slides {
  height: 90vh;
}

#settings-slides ion-slide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 7vh;
}

.settings-item {
  width: 90vw;
}

.settings-label {
  --color: black;
}

.settings-label-display, .edit-account-input, .edit-child-input, .datetime-text {
  text-align: right;
}

#settings-warning {
  color: #FF8127;
}

#edit-child-dob {
  margin-left: auto;
  margin-right: 7vw;
}

#menu-header {
  background-color: #FFF7DD;
}

.white-bg {
  background-color: white;
}

.tab-content {
  background-color: #FFF7DD;
}

.tribe-orange-c {
  color: #FF8127;
}

.tribe-dark-orange-c {
  color: #E76B13;
}

.app-header {
  height: 7vh;
}

/*
#menu-header{

}
*/
#app-footer {
  background-color: white;
  -webkit-box-shadow: 0px -5px #E76B13;
          box-shadow: 0px -5px #E76B13;
  height: 8vh;
  /*font-size: map-get($font-size, tab-icon);*/
}

.wip-card {
  background-color: white;
}

#add-journal-btn, #add-journal-btn ion-icon {
  position: fixed;
  -ms-flex-item-align: center;
      align-self: center;
  width: 16vw;
  height: 16vw;
  bottom: 5vh;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 2px 0, 0, rgba0, 0.116;
          box-shadow: 0px 4px 2px 0, 0, rgba0, 0.116;
}

#add-journal-btn ion-icon {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: #FFA96B;
}

.tab-btn {
  width: 100%;
}

.tab-icon {
  font-size: 10vw;
}

.my-custom-menu {
  --width: 500px;
}

.settings-modal .modal-wrapper {
  height: 100%;
  top: 0;
  position: absolute;
  display: block;
}

.journal-modal .modal-wrapper {
  height: 100%;
  top: 20%;
  position: absolute;
  display: block;
}

.edit-journal-modal .modal-wrapper {
  height: 100%;
  top: 18%;
  position: absolute;
  display: block;
}

#close-settings-btn, #close-journal-btn, #close-edit-account-btn, #close-edit-child-btn, #close-edit-journal-btn {
  position: relative;
  font-size: 30px;
  right: 2vw;
}

#profile-name, #profile-age, #journal-header {
  color: #FF8127;
}

#profile-content {
  max-height: 100vh;
  background-color: white;
  overflow: scroll;
}

#profile-body {
  top: 50vh;
  left: 0;
  width: 100vw;
  min-height: 52vh;
  -webkit-box-shadow: 0 -4px 2px rgba(0, 0, 0, 0.116);
          box-shadow: 0 -4px 2px rgba(0, 0, 0, 0.116);
  border-radius: 30px 30px 0 0;
  background-color: white;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  padding-top: 20px;
  position: absolute;
}

#profile-buffer {
  min-height: 55vh;
}

#profile-avatar-div {
  left: 0;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #FFF7DD;
}

#profile-avatar-circle {
  background-color: white;
  width: 38vw;
  height: 38vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.116);
          box-shadow: 0 4px 2px rgba(0, 0, 0, 0.116);
}

#profile-avatar {
  width: 35vw;
  height: 35vw;
  max-width: 35vw;
  max-height: 35vw;
}

.profile-item, .profile-item-empty {
  min-height: 15vh;
}

.profile-card {
  width: 90vw;
  min-height: 20vh;
  background-color: #FFF7DD;
}
/*# sourceMappingURL=styles.css.map */